
* {
  box-sizing: border-box;
}

body {
  background: #353535;
  font-size: 1.2rem;
  line-height: 1.45;
  display: flex;
  flex-wrap: wrap;
}

.main-content {
  padding: 10%;
  flex: 1 1 80%;
  min-height: 100vh;
}
.portfolio {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: .5rem;
}
.portfolio-item {
  display: flex;
}
.portfolio-item img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.portfolio-item.medium {
  grid-row: span 2;
  grid-column: span 2;
}
.portfolio-item.medium-wide {
  grid-row: span 2;
  grid-column: span 3;
}
.portfolio-item.large {
  grid-row: span 3;
  grid-column: span 3;
}
.portfolio-item.tall {
  grid-row: span 3;
  grid-column: span 2;
}
.portfolio-item.wide {
  grid-row: span 2;
  grid-column: span 5;
}